@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

body {
  background-color: #4f5050;
}

.login {
  width: 100%;
  max-width: 300pt;
  margin-top: 200px;
  /* border: 1px solid #d3d3d3; */
  padding: 10px;
  background-color: #212529;
  color: #FFF;
}

.login h1,
.login h3 {
  text-align: center;
}

.login h3 {
  margin-top: 40px;
}

.login form {
  /* border: 1px solid #d3d3d3; */
  border-radius: 4px;
  padding: 20px;
}
