@media (min-width: 320px) and (max-width: 425px) {

    .container_main {
        display: grid;
        grid-template-columns: 1fr;
    }


    img {
        max-width: 100%;
    }

    h2 {
        font-size: 16px;
        text-align: center;
        max-width: 100%;
    }

    #context1 {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px;

    }

    .t_context {
        text-align: center;
        margin: 0 0 0 10px;

    }

    #aside_site {
        display: none;
    }


}

@media (min-width: 768px) {

    #aside_site {
        display: none;
    }

    h2 {
        width: 400px;
    }

    #context1 {
        display: flex;
        margin: 20px 0px 20px 0;
        gap: 70px;
    }
}

@media (min-width: 1024px) {


    h2 {
        width: 400px;
    }

    #context1 {
        display: flex;
        margin: 20px 0px 20px 0;
        gap: 120px;
    }
}







